body,
html {
  margin: 0;
  background-color: slategray;
}
* {
  box-sizing: border-box;
}
:root {
  --border-width: 3px;
  --border-color: rgba(0, 0, 0, 0.5);
}
#app {
  max-width: 500px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 2rem 0;
  font-family: sans-serif;
  text-align: center;
  background-color: oldlace;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* grid-template-columns: repeat(3, auto);
  justify-content: center; */
}
.row {
  display: flex;
  /* width: 100%; */
}
.cell {
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 50px;
  border: solid var(--border-width) var(--border-color);
}
.cell::after {
  content: attr(data-content);
}
[data-content="X"] {
  color: palevioletred;
}
[data-content="O"] {
  color: darkcyan;
}
